# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ALICE
/.x64/Debug
/x64/
/.vs
*.pdb
*.idb
*.cso
/Alice/lib/include
/Alice/lib/lib/debug/pkgconfig
/Alice/lib/lib/pkgconfig
/Alice/lib/vcpkg
/Engine/Alice/lib/include
/Engine/Alice/lib/lib
